body {
    width: 85%;
    box-shadow: 0 0 20px grey;
    margin: 70px 50px 70px 50px;
    padding: 70px;
}

@font-face {
    font-family: "Playfair Display Regular";
    src: url("../PlayfairDisplay-Regular.otf");
}

@font-face {
    font-family: "Lato Light";
    src: url("../Lato-Light.ttf");
}

h1 {
    font-family: "Playfair Display Regular";
    font-size: 2.5em;
}

p {
    font-family: "Lato Light";
    font-size: 18px;
    line-height: 2;
    color: #7a7a7a;
}

div.text-box::first-letter {
    font-family: "Playfair Display Regular";
    font-size: 5em;
    color: black;
    float: left;
    padding-right: 5px;
}

a {
    text-transform: uppercase;
}

blockquote {
    font-style: italic;
    font-family: "Lato Light";
    font-size: 1.5em;
    padding-right: 20px;
}

blockquote:before {
    content: "“";
    font-size: 3.5em;
    float: left;
    position: relative;
    top: -25px;
    padding-right: 20px;
}

.button {
    display: block;
    width: 25%;
    border: 2px solid #ea9259;
    font-family: "Lato Light";
    font-weight: 800;
    font-size: 1.1em;
    color: #ea9259;
    line-height: 4em;
  	text-decoration: none;
    letter-spacing: 0.3em;
}
